<h1>KodoSuicha DB</h1>
<fa-login>
<h2>LOGIN</h2>
coming from login....
</fa-login>

<fa-menu>
<h2>MENU1</h2>
coming from menu....
</fa-menu>

<fa-menu>
<div>
<h2>MENU2</h2>
<p>coming from menu2....</p>
</div>
</fa-menu>

<fa-post>
<div>
<h2>POST</h2>
<h3>coming from post...</h3>
</div>
</fa-post>

<fa-edit>
<h2>EDIT</h2>
<h3>coming from edit...</h3>
</fa-edit>

<div class="moody">
  <fa-delete>
<h2>DELETE</h2>
<h3>coming from delete...</h3>
  </fa-delete>
</div>

<h1>
  {{title}}
</h1>

<h1>
  {{stringInterpolation}}
</h1>