<div class="jumbotron">
<div class="logo">
  <img src="./images/logo_2016.png" width="165px" height="128px">
  </div>
</div>
<div class="jumbotron text-center">
<h1>KodoSuicha DB</h1>
</div>

<fa-login></fa-login>

<fa-menu></fa-menu>

<fa-post></fa-post>

<fa-edit>
<h2>EDIT</h2>
<h3>coming from edit...</h3>
</fa-edit>

<div class="moody">
  <fa-delete>
<h2>DELETE</h2>
<h3>coming from delete...</h3>
  </fa-delete>
</div>

<h1>
  {{title}}
</h1>

<h1>
  {{stringInterpolation}}
</h1>
<button>ClickChick2</button>