<div class="jumbotron">
<div class="logo">
  <img src="./images/logo_2016.png" width="165px" height="128px">
  </div>
</div>
<div class="jumbotron text-center">
<h1>Sadfatter DB</h1>
</div>

<fa-login></fa-login>

<fa-menu></fa-menu>

<fa-post></fa-post>

<fa-edit>
<h2>EDIT</h2>
<h3>coming from edit...</h3>
</fa-edit>

<div class="moody">
  <fa-delete>
<h2>DELETE</h2>
<h3>coming from delete...</h3>
  </fa-delete>
</div>

<h1>
  {{title}}
</h1>

<h1>
  {{stringInterpolation}}
</h1>
<button>ClickChick2</button>

<!--<hr>
<h1>POST, USER POSTS DATA TO FIREBASE...</h1>
<label for="username">Username</label>
<input type="text" id="username" #username>
<label for="email">E-Mail</label>
<input type="text" id="email" #email>
<button (click)="onSubmit(username.value, email.value)">Submit</button>
<hr>-->

<h1>GET, DATA PULL FROM FIREBASE...</h1>
<button (click)="onGetData()">Get Data</button>
<ul>
  <li *ngFor="let item of items">{{item.theme}}</li>
</ul>

<hr>
<h1>ONLOAD, DATA ALREADY IN DATABASE...</h1>
<p>{{asyncString | async | json }}</p>


<hr>
<h1>GET, PULL KEY FROM FIREBASE...</h1>
<button (click)="onBusy()">Get Busy</button>

