<article>
<h2>POST</h2>
<h3>Coming from post...</h3>

<form class="form-horizontal" action="">
<!-- ISSUE DATE -->
<div class="form-group">
<label class="control-label col-sm-2" for="issuedate">Issue Date:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="issuedate" placeholder="Enter issue date..." name="issuedate" value="">
    </div>
  </div>
    <br><br>
<!-- THEME DATE -->
     <div class="form-group">
    <label class="control-label col-sm-2" for="theme">Theme:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="theme" placeholder="Enter theme..." name="theme" value="">
    </div>
  </div>
    <br><br>
<!-- STORY A -->
    <div class="form-group">
    <label class="control-label col-sm-2" for="storya">Story A:</label>
    <div class="col-sm-10">
    <br>
    <textarea class="form-control" rows="5" id="storya" name="storya">The cat on the mat in the hat ate the fat bat rat.
	</textarea>
    <br>
    <select class="form-control" name="storya_articletype">
    <option value="features">Features</option>
    <option value="news">News</option>
    <option value="reviews">Reviews</option>
    <option value="commentary">Commentary</option>
    <option value="promotional">Promotional</option>
    <option value="research">Research</option>
    <option value="how-to">How-To</option>
    </select>
    </div>
    </div>
    <br><br>
<!-- STORY B -->
    <div class="form-group">
    <label class="control-label col-sm-2" for="storya">Story B:</label>
    <div class="col-sm-10">
    <br>
    <textarea class="form-control" rows="5" id="storyb" name="storyb">The cat on the mat in the hat ate the fat bat rat.
	</textarea>
    <br>
    <select class="form-control" name="storyb_articletype">
    <option value="features">Features</option>
    <option value="news">News</option>
    <option value="reviews">Reviews</option>
    <option value="commentary">Commentary</option>
    <option value="promotional">Promotional</option>
    <option value="research">Research</option>
    <option value="how-to">How-To</option>
    </select>
    </div>
    </div>
    <br><br>
<!-- STORY C -->
    <div class="form-group">
    <label class="control-label col-sm-2" for="storyc">Story C:</label>
    <div class="col-sm-10">
    <br>
    <textarea class="form-control" rows="5" id="storyc" name="storyc">The cat on the mat in the hat ate the fat bat rat.
	</textarea>
    <br>
    <select class="form-control" name="storyc_articletype">
    <option value="features">Features</option>
    <option value="news">News</option>
    <option value="reviews">Reviews</option>
    <option value="commentary">Commentary</option>
    <option value="promotional">Promotional</option>
    <option value="research">Research</option>
    <option value="how-to">How-To</option>
    </select>
    </div>
    </div>
    <br><br>
<!-- ONE FINE DAY -->
 <div class="form-group">
    <label class="control-label col-sm-2" for="onefineday">One_Fine_Day Photos:</label>
    <div class="col-sm-10">
    <button (click)="goUploadOFD()" class="btn btn-lg btn-success" role="button">UPLOAD</button> 
    </div>
 </div>
    <br><br>
<!-- BLENDER STORY -->
    <div class="form-group">
    <label class="control-label col-sm-2" for="blenderstory">Blender Story:</label>
    <div class="col-sm-10">
    <br>
    <textarea class="form-control" rows="5" id="blenderstory" name="blenderstory">The cat on the mat in the hat ate the fat bat rat.
	</textarea>
    <br>
    <select class="form-control" name="blenderstory_articletype">
    <option value="features">Features</option>
    <option value="news">News</option>
    <option value="reviews">Reviews</option>
    <option value="commentary">Commentary</option>
    <option value="promotional">Promotional</option>
    <option value="research">Research</option>
    <option value="how-to">How-To</option>
    </select>
    </div>
    </div>
    <br><br>
<!-- LIVE STORY -->
    <div class="form-group">
    <label class="control-label col-sm-2" for="blenderstory">Live Story:</label>
    <div class="col-sm-10">
    <br>
    <textarea class="form-control" rows="5" id="livestory" name="livestory">The cat on the mat in the hat ate the fat bat rat.
	</textarea>
    <br>
    <select class="form-control" name="livestory_articletype">
    <option value="features">Features</option>
    <option value="news">News</option>
    <option value="reviews">Reviews</option>
    <option value="commentary">Commentary</option>
    <option value="promotional">Promotional</option>
    <option value="research">Research</option>
    <option value="how-to">How-To</option>
    </select>
    </div>
    </div>
    <br><br>
<!-- AFTEREFFECTS STORY -->
    <div class="form-group">
    <label class="control-label col-sm-2" for="aftereffectsstory">Afftereffects Story:</label>
    <div class="col-sm-10">
    <br>
    <textarea class="form-control" rows="5" id="aftereffectsstory" name="aftereffectsstory">The cat on the mat in the hat ate the fat bat rat.
	</textarea>
    <br>
    <select class="form-control" name="aftereffectsstory_articletype">
    <option value="features">Features</option>
    <option value="news">News</option>
    <option value="reviews">Reviews</option>
    <option value="commentary">Commentary</option>
    <option value="promotional">Promotional</option>
    <option value="research">Research</option>
    <option value="how-to">How-To</option>
    </select>
    </div>
    </div>
    <br><br>
<!-- JAPAN PHRASE -->
    <div class="form-group">
    <label class="control-label col-sm-2" for="japanphrase">Japan Phrase:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="japanphrase" placeholder="Enter japan phrase..." name="japanphrase" value="">
    </div>
  </div>
    <br><br>
<!-- CHILE VOCAB -->
    Chile Vocab:<br>
    <input type="text" name="chilevocab" value="">
    <br><br>
<!-- PERSON OF INTEREST -->
    Person of Interest:<br>
    <input type="text" name="personofinterest" value="">
    <br><br>
<!-- EVERYDAY CHILE PHOTOS -->
<div class="form-group">
    <label class="control-label col-sm-2" for="onefineday">Everyday_Chile Photos:</label>
    <div class="col-sm-10">
    <button (click)="goUploadECP()" class="btn btn-lg btn-success" role="button">UPLOAD</button> 
    </div>
</div>
    <br><br>
<!-- QUOTES -->
    Quotes:<br>
    <input type="text" name="quotes" value="">
    <br><br>
<!-- KANJI -->
    Kanji:<br>
    <input type="text" name="quotes" value="">
    <br><br>
<!-- PROVERBS -->
    Proverbs:<br>
    <input type="text" name="quotes" value="">
    <br><br>
<!-- NOTES -->
    Notes:<br>
    <input type="text" name="notes" value="">
    <br><br>
<!-- FLAVOR COLOR -->
    Flavor Color:<br>
    <input type="text" name="flavorcolor" value="">
    <br><br>
<!-- FRONT COVER PHOTO -->
<div class="form-group">
    <label class="control-label col-sm-2" for="frontcover">Front_Cover Photo:</label>
    <div class="col-sm-10">
    <button (click)="goUploadFC()" class="btn btn-lg btn-success" role="button">UPLOAD</button> 
    </div>
</div>
    <br><br>
<!-- BACK COVER PHOTO -->
<div class="form-group">
<label class="control-label col-sm-2" for="backcover">Back_Cover Photo:</label>
    <div class="col-sm-10">
    <button (click)="goUploadFC()" class="btn btn-lg btn-success" role="button">UPLOAD</button> 
    </div>
    </div>
    <br><br>
    
    <button (click)="goSubmit()" class="btn btn-lg btn-success" role="button">SUBMIT</button>
    <button (click)="goReset()" class="btn btn-lg btn-danger" role="button">RESET</button>

</form>

</article>
<hr>
<hr>
<hr>



